<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/main/countdown.js"></script>
<script src="/main/index.js"></script>
<script src="/main/clock.js"></script>
<script src="/main/task.js"></script>
<script src="/main/leave.js"></script>
</body>
</html>
