<header>
    <div class="navigation">
       <ul>
        <li class="list">
            <a href="/employee">
                <span class="icon">
                    <ion-icon name="home"></ion-icon>
                </span>
                <span class="icon" style="font-size: 30px;font-weight: 500; margin-right: 90px;">SOLNSWMS</span>
            </a>
        </li>
           <li class="list">
               <a href="/service">
                   <span class="icon">
                       <ion-icon name="home"></ion-icon>
                   </span>
                   <span class="icon">Services</span>
               </a>
           </li>
           <li class="list" style="margin-right: 40px;">
               <a href="/listview">
                   <span class="icon">
                       <ion-icon name="list-box"></ion-icon>
                   </span>
                   <span class="icon">LeaveTracker</span>
               </a>
           </li>

           <li class="list" style="margin-right: 40px;">
               <a href="/timetracker">
                   <span class="icon">
                       <ion-icon name="book"></ion-icon>
                   </span>
                   <span class="icon">TimeTracker</span>
               </a>
           </li>
           <li class="list" style="margin-right: 40px;">
               <a href="/attendance">
                   <span class="icon">
                       <ion-icon name="images"></ion-icon>
                   </span>
                   <span class="icon">Attendance</span>
               </a>
           </li>
           <li class="list">
               <a href="/employeedata">
                   <span class="icon">
                       <ion-icon name="globe"></ion-icon>
                   </span>
                   <span class="icon">Organizations</span>
               </a>
           </li>
           <li class="list">
            <a href="/self">
                <span class="icon">
                    <ion-icon name="contact"></ion-icon>
                </span>
                <span class="icon">SelfService</span>
            </a>
        </li>
           <li class="list" style="margin-left : 0px; margin-right : 0px;">
               <a href="/task">
                   <span class="icon">
                       <ion-icon name="contact"></ion-icon>
                   </span>
                   <span class="icon">Task</span>
               </a>
           </li>
           
           
       </ul>
    </div>
   </header>