<div class="sidebar">
    <a href="/employeedata" style="font-size: 20px; font-weight: 500;color: #077b80;">Organizations</a>
    <a href="/employeedata">Employee</a>
    <a href="/department">Department</a>
      <!-- <a href="#clients"><i class="fa fa-sharp fa-solid fa-folder-open ml-2 pr-2"></i>Document</a> -->
      <a href="/designation">Designation</a>
      <a href="/exitdetails">Exit Details</a>
      

    </div>