<div class="sidebar">
    <a href="/attendance" style="font-size: 20px; font-weight: 500;color: #077b80;">Attendance</a>
    <a href="/attendance">List View</a>
    
    <a href="/timetracker">Employee`s Attendance List </a>

    </div>