<div class="sidebar">
    <a href="/listview" style="font-size: 20px; font-weight: 500;color: #077b80;">Leave Tracker</a>
      <a href="/listview">List View</a>
      <!-- <a href="#clients"><i class="fa fa-sharp fa-solid fa-folder-open ml-2 pr-2"></i>Document</a> -->
      <a href="/calender">Calender View</a>
      <a href="/leaveapplication">Leave Applications</a>
      <a href="/holidays">Holidays</a>
    </div>