<div class="sidebar">
    <a href="/timetracker" style="font-size: 20px; font-weight: 500;color: #077b80;">Time Tracker</a>
    <a href="/timetracker">Timelogs</a>
    <a href="/timesheet">My Timesheets</a>
      <!-- <a href="#clients"><i class="fa fa-sharp fa-solid fa-folder-open ml-2 pr-2"></i>Document</a> -->
      <a href="/approvals">My Approvals</a>
      <a href="/jobs">Jobs</a>
      <a href="/project">Projects</a>
      <a href="/clients">Clients</a>
      <a href="/settimer">Set Timer</a>
      <a href="/jobschedule">Job Schedule</a>

    </div>