<%- include('partials/header') %>
<div style="background:transparent !important ; margin-top: 0 important!;" class="jumbotron centered">
    <div class="container">
      
      
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <!-- <img class = "logo" src="http://localhost:3000/images/logo.png" alt="Image does not exist"> -->
      <h1 class="display-3" style="font-weight: 400;">SolnsTech WMS</h1>
      <p class="lead" style="font-weight: 300;">Solnstech knows its responsibility when it comes to business!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
    </div>
  </div>
<%- include('partials/footer') %>