<%- include('partials/header') %>
<div class="centered">
    <div class="container">
        <section id="content">
          <form action="/register" method="POST">
            <h1>Register Form</h1>
            <div>
              <input type="text" placeholder="Username" required="" id="username" name="username"/>
            </div>
            <div>
                <select name="loginoptions" id="loginoptions">
                    <option value="As Admin">As Admin</option>
                    <option value="As Employee">As Employee</option>
                </select>
            </div>
            <div>
              <input type="password" placeholder="Password" required="" id="password" name="password" />
            </div>
            <div>
              <input type="submit" value="Register" />
              
            </div>
          </form><!-- form -->
          
        </section><!-- content -->
      </div><!-- container -->
</div>

<%- include('partials/footer') %>