<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container">
    <div class="search-box">
        <i class="bx bx-search"></i>
        <input type="text" id="myInput"  onkeyup="myFunction()" placeholder="Search a Service">
    </div>

    <div class="images">
        <a href="">
        <div class="image-box" data-name="LeaveTracker">
            <img src="http://localhost:3000/images/leave.jpg" alt="">
            <h4>Leave Tracker</h4>
        </div>
       </a>
       <a href="">
        <div class="image-box" data-name="TimeTracker">
            <img src="http://localhost:3000/images/time.png" alt="">
            <h4>Time Tracker</h4>
        </div>
    </a>
    <a href="">
        <div class="image-box" data-name="Attendance">
            <img src="http://localhost:3000/images/attendance.png" alt="">
            <h4 class="">Attendance</h4>
        </div>
    </a>
    <a href="">
        <div class="image-box" data-name="passenger">
            <img src="http://localhost:3000/images/organizations.png" alt="">
            <h4>Organizations</h4>
        </div>
    </a>
    <a href="">
        <div class="image-box" data-name="space">
            <img src="http://localhost:3000/images/task.webp" alt="">
            <h4>Task</h4>
        </div>
    </a>
    <a href="">
        <div class="image-box" data-name="spiderman">
            <img src="http://localhost:3000/images/performance.jpg" alt="">
            <h4>Performance</h4>
        </div>
    </a>
    <a href="">
        <div class="image-box" data-name="universe">
            <img src="http://localhost:3000/images/notes.png" alt="">
            <h4 >iNotes</h4>
        </div>
    </a>
    <a href="">
        <div class="image-box" data-name="spiderman">
            <img src="http://localhost:3000/images/lms.jpg" alt="">
            <h4>LMS</h4>
        </div>
    </a>  
    </div>
</div>

<%- include('partials/footer') %>